body{
	width:200px; 
	background-color:#AAA
}

#whole{
	width:80%; 
	margin:auto; 
	padding:10px; 
	background-color:#AAA;
}

.well{
	padding:5px;
}

#fillpass{
	margin: 10px;
}

#bar{
	background-color: #1669c9;
	color: #AAA;
	margin: 0px;
}

#bar img{
	float: left;
	margin: 5px;
}

#bar h3{
	margin:0px;
}

#chngPass{
	margin-top: 0px; 
}

#set{
	display:block; 
	margin:1px; 
	padding:1px; 
	float:right;
}

#button{
	display:block; 
	margin:auto;
}

/*#reset{
	display:none;
}*/

#reset{
	display:block; 
	margin:auto;
}

#Settings{
	display:none;
}

#navigation{
	display: none
}

#tabs{
	display: none;
}

h1{
	margin-top: 0px;
}